.THIS .slds-form-element__label{
    display: none;
}
.THIS .slds-dropdown-trigger .slds-dropdown {
    height: 150px;
    overflow: auto;
}
.THIS .slds-modal__content{ 
    min-height : 40vh !important; 
}
.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: none;
}

.THIS .dropdownCls {
    max-height: 170px; 
    position: relative;
    background: #fff;
    z-index: 700;
    border-radius: 0px;
    border:solid lightgrey;
    border-width: 0px 1px 1px 1px;
    width:100%;
}

.THIS .spanPadding {
    padding: 8px 10px;
}